*{
    margin: 0px; 
    padding: 0px;
}
   
.impressum_text {
    margin: 50px;
    height:100vh;
    padding-left:10%;
}

.h1  .h2  .h3 {
 padding-top:32px;
 padding-left:20%;
 padding-bottom:15px;
}

p{
    padding-top:32px;
    padding-bottom:5px;
}