.body{
    max-width:1440px;
    margin:0px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom: 1px solid;
    box-shadow: 0px 20px 10px #888888;
    background-color:black;
    height:100px;

    
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: wavy;
}

.socialMedia{
    height:32px;
    padding:16px;
}

.socialMedia:hover{
    text-shadow:#888888;
}


