

  header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    border-bottom: 2px solid #ddd;
    text-decoration:none;
}

.TopLogo{
  padding-left:124px;
}

.logo {
    height: 100px;
}

/*Burger und NavBar*/

.nav-links {
  display: flex;
  padding-right:48px;

}

.nav-link {
  color: black;
  font-size: 24px;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: green;
  text-decoration: underline !important;
}

/* kleine Bildschirme*/
#burger-menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  padding-right:30px;
}

/* --- Burger-Men端 (versteckt, erscheint nur auf kleinen Bildschirmen) --- */
.burger-nav-container {
  position: fixed;
  top: 60px;
  right: -95%;
  width: 250px;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/* Aktiviertes Burger-Men端 */
.burger-nav-container-open {
  right: 0;
}

/* Links im Burger-Men端 */
.burger-nav-link {
  display: block;
  padding: 15px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.burger-nav-link:hover {
  color: green;
}

/* --- Responsive Design f端r kleine Bildschirme --- */
@media screen and (max-width: 950px) {
  .nav-links {
    color:white;
      display: none;
  }

  #burger-menu-icon {
      display: block;
  }
}

