body{
  
    margin:0; 
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    /*font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;*/
}

.aot{
    margin:0;
    background-image:url(./img/header.png);
    height:100vh;
    background-size:cover ;
    background-position:center; 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255, 0.2);
    padding: 16px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;

}

header img {
    width:100px;
}
.navLink{
    color:white;
    text-decoration: none;
    margin-left: 16px;
}

.navLink:hover{
    color:#B48A4E;
    cursor:crosshair;
}

.social{
    height: 24px;
    width: auto;
    margin-left:16px;
}
.social:hover{
    filter: drop-shadow(2px 4px 6px white);
}
.topLine{
    color:white; 
    font-weight:500px;
    font-size:64px;
    font-family: "Viga", sans-serif;
    margin-block-start: 0px;    
    margin-block-end: 0px;
    text-align:center;
}
.topLine:hover{
    text-decoration:blink;
    
}

.button{
    background-color:#B48A4E;
    color: white;
    text-decoration: none;
    padding:16px;
    margin:16px;

}
.button:hover{
    cursor:crosshair;
    text-decoration: blink;
}
.shortcuts{
    display: flex;
    justify-content: space-around;
    padding:100px 50px;
    background-color:black;

    
}
.quickimg{
    flex:1;
    width: 100%;
    height: 200px;
    aspect-ratio: 1 ;
    object-fit:cover;
    display:flex;
    align-items:center;
;
}
.quickLink{
    font-size:24px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    text-decoration:none;
    color:#B48A4E;
    gap:16px;

}
.ticketSection{
    height:770px;
    display:flex;
    background-color:#272727;
}
.ticketPic{
    height:256px;
    width:256px;
    object-fit:cover;
}
.festivalInfo{
    padding:40px;
    flex:1;
}
.filltxt{
    font-size:calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.festivalInfo h2{
    margin-block-start: 0px; 
}
.cutLineTicket{
    background-color:white;
    height:100%;
    width:1px;
    margin:10px;
}
.ticket-container{
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.mt-16{
    margin-top:16px;
}
.slogan{
    background-color:white;
    color:#B48A4E;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    font-weight: 600;
    text-align: center;
}

.video-section{
    background-image: url(./img/bottom.png);
    height:500px;
    background-position:center;
    background-size:cover;
}
.botFoot{
    background-color:black;
    display:flex;
    padding: 80px 80px;
}

.footer-half{
    width:50%;
    height:50%;
}
.social-media-icons{
    height:36px;
    
}
.subtext {
    font-size: 20px;
    font: weight 700px;
}
.button-footer{
    width:124px;
}
.footer-left{
    display:flex;
    align-items:center;
}

.footer-center{
    display:flex;
    gap:16px;
    justify-content: center;
}
.footer-form{
    display: flex;
    justify-content: center;
    align-items:center;
}
input::placeholder{
    color:aqua;
    padding:16px;
}
.email{
    width: 124px;
    height: 45px;
    display:flex;

}

@media(max-width:700px){
.hide-mobile{
    display:none;
}
.topLine{
    font-size: 40px;
}
.body{
    flex-direction: column;
    
}
.cutLineTicket{
   display:none;
}
.ticketSection{
   flex-direction:column;
}
.ticketPic{
    width:100%
}
.shortcuts{
   flex-direction:column;
} .festvial.Info{
   text-align:center;
}
.full-width-mobile{
    text-align:center;
    flex-direction:column;
    padding:16px;
}
.botFoot{
    flex-direction:column;
    align-items:center;

}
.filltxt{
text-align:center;

}
.ticket-container{
    flex-direction:center;
}

}



@media(max-width:600px){
    .body{
     flex-direction: column;
     
}
.cutLineTicket{
    display:none;
}
.ticketPic{
    width:100%
}
.ticketSection{
    flex-direction:column;
}
.shortcuts{
    flex-direction:column;
} .festvial.Info{
    text-align:center;
}
.full-width-mobile{
    text-align:center;
    flex-direction:column;
    padding:16px;
}
.botFoot{
    flex-direction:column;
    align-items:center;
}
.filltxt{
    text-align:center;
}
.ticket-container{
    flex-direction:center;
}

}
@media (max-width:900px){

}

