/*Bewertungsseite mit einem Random Thema 
-Skala 1-10 
-runde ausfüllkästchen ( mehrfarbig (grün 10-dunkelrot-1)) onclik funktion 
ATF muss da sein, 
Werbung rechts und links. */
*{
    margin:0px;
}
.atf{
    object-fit:cover;
    height:55vh;
    width:100%;
    background-position: 0%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 90%, rgba(252,176,69,1) 100%);


    
}

.header {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size:3rem;
        padding-top:10px;
}

.headline{
    font-size:2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.multipleChoiceArea{
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    align-items: center;
   padding-right:15rem;
   padding-left:15rem;
    
}



.QArea{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top:10px;

    font-size:1.5rem; 
    
}
.Q1{
    padding-top:10px;
}

.scaleTab{
    padding-top:10px;
    
}

