@font-face {
    font-family: raleway;
    src: url(./Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-medium;
    src: url(./Raleway-Medium.ttf);
}

@font-face {
    font-family: raleway-bold;
    src: url(./Raleway-Bold.ttf);
}

@font-face {
    font-family: raleway-light;
    src: url(./Raleway-Light.ttf);
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

/* header Anfang */

header {
    font-family: raleway-medium;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 170px;
    padding-right: 170px;
    box-shadow: inset;
    box-shadow: 0 5px 7px -2px rgb(0, 0, 0, 0.2);
}

.logo {
    height: 100px;
    object-fit: cover;
    content: url("./logo.png");
}

.menuline {
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: rgb(0, 128, 0);
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

/* header Ende */

/* footer Anfang */

footer {
    background-color: rgb(64, 59, 59);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 170px;
    padding-right: 170px;
    font-family: raleway;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 28px;
}

.footer-text {
    text-decoration: none;
    color: white;
}

.footer-text:hover {
    color: rgb(0, 128, 0);
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

/* footer Ende */

/* Startseite Anfang */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    justify-content: flex-end;
}

.burger-btn {
    cursor: pointer;
}

.burger-nav-container-closed {
    transform: translateX(100%);
}

.burger-nav-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 85px;
    transition: all 175ms ease-in-out;
}

.burger-nav {
    font-family: raleway;
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 404px;
    height: 54px;
}

.burger-nav-link {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.burger-nav-link:hover {
    color: rgb(0, 128, 0);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.underheader {
    font-family: raleway;
    display: flex;
    gap: 30px;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 16px;
}

.big-image {
    width: 500px;
    margin-top: 21px;
    border-radius: 10px;
}

.btn {
    font-family: raleway-medium;
    color: white;
    background-color: rgb(0, 128, 0);
    border: none;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(0, 128, 0);
    box-shadow: 0px 0px 5px 5px rgba(109, 110, 109, 0.596);
}

.new {
    background-color: rgba(128, 128, 128, 0.2);
    font-family: raleway;
    padding-top: 15px;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 60px;
}

.lust {
    display: flex;
    justify-content: center;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.sug {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.sug-text {
    display: flex;
    justify-content: center;
    font-family: raleway-bold;
}

.sug-link {
    text-decoration: none;
    color: black;
}

.sug-link:hover {
    color: rgb(0, 128, 0);
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.blkn-kitchen {
    font-family: raleway;
    padding-top: 15px;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 60px;
}

.blkn-kitchen-under {
    font-family: raleway;
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
    gap: 30px;
    font-size: 16px;
}

/* Startseite Ende */

/* Rezepte - Anfang */

.head {
    font-family: raleway;
    padding-top: 12px;
    padding-bottom: 25px;
}

.image-otd {
    object-fit: cover;
    height: 25vh;
    width: 100%;
    border-radius: 10px;
}

.recept {
    margin-left: 170px;
    margin-right: 170px;
    font-family: raleway;
}

.icon {
    width: 15px;
    padding-right: 5px;
}

.ad-container {
    padding-right: 20px;
}

.ad {
    display: ruby;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.1);
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.line {
    background-color: rgb(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-bottom: 10px;
    height: 2px;
}

.amount::-webkit-inner-spin-button {
    appearance: none;
}

.amount {
    width: 120px;
    margin-right: -8px;
    padding-top: 11.5px;
    padding-bottom: 8.5px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.portion {
    display: flex;
    gap: 12px;
    align-items: center;
}

.alert {
    color: rgba(255, 0, 0, 0.714);
    padding-bottom: 10px;
}


.bg-grey {
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 35px;
}

.bg-white {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 35px;
}

.creator-header {
    margin-top: 40px;
}

.creator {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 120px;
}

.creator-image {
    width: 100px;
    border-radius: 50px;
}

/* Rezepte - Ende */

/* Kontaktformular/Impressum/Datenschutz - Anfang */



.contact {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    margin: 0;
    font-family: raleway-bold;
}

.contact-form {
    background-color: rgb(233, 233, 233);
    max-width: 600px;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 35px;
    padding-left: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: raleway-bold;
}

.data {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    font-size: 16px;
}

.amount-message {
    border-radius: 5px;
    border-color: rgb(0, 0, 0, 0.1);
    margin-bottom: 10px;
    resize: none;
}

/* Kontaktformular/Impressum/Datenschutz - Ende */

@media(min-width: 750px) {
    .burger-btn {
        display: none;
    }
}

@media(max-width: 1250px) {

    /* header Anfang */

    .logo {
        height: 80px;
        object-fit: cover;
        content: url(./img/logo.png);
    }

    .menuline {
        display: flex;
        gap: 20px;
        font-size: 20px;
    }

    /* header Ende */

    /* Startseite Anfang */

    .big-image {
        width: 400px;
        margin-top: 21px;
        border-radius: 10px;
    }

    .image {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }

    .sug-text {
        display: flex;
        justify-content: center;
        font-family: raleway-bold;
        font-size: 12px;
    }

    /* Startseite Ende */

}

@media(max-width: 1080px) {

    /* header Anfang */

    .logo {
        height: 60px;
        object-fit: cover;
        content: url(./img/logo.png);
    }

    .menuline {
        display: flex;
        gap: 20px;
        font-size: 16px;
    }

    /* header Ende */

    /* Startseite Anfang */

    .big-image {
        width: 300px;
        margin-top: 21px;
        border-radius: 10px;
    }

    .image {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }

    .sug-text {
        display: flex;
        justify-content: center;
        font-family: raleway-bold;
        font-size: 12px;
    }

    /* Startseite Ende */

}

@media(max-width: 960px) {

    /* header Anfang */

    header {
        padding-left: 85px;
        padding-right: 85px;
    }

    .logo {
        height: 40px;
        object-fit: cover;
        content: url(./img/logo.png);
    }

    .menuline {
        display: flex;
        gap: 20px;
        font-size: 14px;
    }

    /* header Ende */

    /* Startseite Anfang */

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .underheader {
        padding-left: 85px;
        padding-right: 85px;
    }

    .big-image {
        width: 250px;
        margin-top: 21px;
        border-radius: 10px;
    }

    .btn {
        font-family: raleway-medium;
        color: white;
        background-color: rgb(0, 128, 0);
        border: none;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    .image {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    .new {
        padding-left: 85px;
        padding-right: 85px;
    }

    .sug-text {
        display: flex;
        justify-content: center;
        font-family: raleway-bold;
        font-size: 12px;
    }

    .blkn-kitchen {
        padding-left: 85px;
        padding-right: 85px;
    }

    /* Startseite Ende */

    footer {
        padding-left: 85px;
        padding-right: 85px;
    }

}

@media(max-width: 820px) {

    /* header Anfang */

    header {
        padding-left: 85px;
        padding-right: 85px;
    }

    .logo {
        height: 30px;
        object-fit: cover;
        content: url(./img/logo.png);
    }

    .menuline {
        display: flex;
        gap: 20px;
        font-size: 12px;
    }

    /* header Ende */

    .footer-text {
        font-size: 14px;
    }

    /* Startseite Anfang */

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    .underheader {
        padding-left: 85px;
        padding-right: 85px;
    }

    .big-image {
        width: 220px;
        margin-top: 21px;
        border-radius: 10px;
    }

    .btn {
        font-family: raleway-medium;
        color: white;
        background-color: rgb(0, 128, 0);
        border: none;
        cursor: pointer;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }

    .image {
        width: 130px;
        height: 130px;
        border-radius: 10px;
    }

    .new {
        padding-left: 85px;
        padding-right: 85px;
    }

    .sug-text {
        display: flex;
        justify-content: center;
        font-family: raleway-bold;
        font-size: 12px;
    }

    .blkn-kitchen {
        padding-left: 85px;
        padding-right: 85px;
    }

    /* Startseite Ende */

    footer {
        padding-left: 85px;
        padding-right: 85px;
    }

}

@media(max-width: 750px) {

    /* header Anfang */

    header {
        padding-left: 85px;
        padding-right: 85px;
    }


    .logo {
        height: 30px;
        object-fit: cover;
        content: url(./img/logo.png);
    }

    .menuline {
        display: none;
    }

    .burger-btn {
        height: 30px;
    }

    /* header Ende */

    .footer-text {
        font-size: 14px;
    }

    /* Startseite Anfang */

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    .underheader {
        flex-direction: column;
        display: flex;
        align-items: center;
        padding-left: 85px;
        padding-right: 85px;
    }

    .schnitzel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-image {
        width: 220px;
        margin-top: 21px;
        border-radius: 10px;
    }

    .btn {
        font-family: raleway-medium;
        color: white;
        background-color: rgb(0, 128, 0);
        border: none;
        cursor: pointer;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }

    .image {
        width: 130px;
        height: 130px;
        border-radius: 10px;
    }

    .new {
        padding-left: 85px;
        padding-right: 85px;
    }

    .sug {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sug-text {
        display: flex;
        justify-content: center;
        font-family: raleway-bold;
        font-size: 12px;
    }

    .blkn-kitchen {
        padding-left: 85px;
        padding-right: 85px;
    }

    .blkn-kitchen-under {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* Startseite Ende */

    /* Rezepte - Anfang */

    .recept {
        margin-left: 85px;
        margin-right: 85px;
        font-family: raleway;
    }

    .creator-image {
        width: 60px;
        border-radius: 50px;
    }

    /* Rezepte - Ende */

    footer {
        padding-left: 85px;
        padding-right: 85px;
    }

    .footer-text {
        font-size: 12px;
    }

}

@media(max-width: 540px) {

    .burger-nav-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 85px;
        transition: all 175ms ease-in-out;
    }

    .burger-nav {
        font-size: 12px;
        font-family: raleway;
        background-color: rgba(128, 128, 128, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 100px;
    }

    /* header Anfang */

    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    /* header Ende */

    /* Rezepte - Anfang */

    .recept {
        margin-left: 40px;
        margin-right: 40px;
        font-family: raleway;
    }

    .line {
        margin-top: 30px;
    }

    .amount {
        margin-right: -8px;
        padding-top: 11.5px;
        padding-bottom: 8.5px;
        border-radius: 5px;
        border-color: rgb(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .portion {
        display: block;
        padding-bottom: 10px;
    }

    .creator-image {
        width: 80px;
        border-radius: 50px;
    }

    /* Rezepte - Ende */

    .footer-text {
        font-size: 10px;
    }
}