*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/wall.jpg);
	background-repeat:cover ;
    background-position: top center;
    pointer-events: pointer;
    height:auto;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body::before{
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: pointer;
}

.fullDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
/*Above the fold*/
.atf {
    width: 20%;
    max-width: 300px;
    margin-top: 2rem;
    animation: logo 3s;
    animation: textwelle 4s;
}
/*ATF Ende*/
