
/* Body Area */
/* RezeptSeite Css*/

.table {
    padding-right:24px;
}

.rztpCrs {
    height:156px;
    width: 256px;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.row .row3 .row5 {
    background-color:#ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.row2 .row4 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


/*.label {
    flex: 2;
}*/
.value {
    flex: 1;
    text-align: right;
}
.input-group {
    margin-bottom: 20px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.ingredients {
    margin-top: 20px;
}
.ingredients .row {
    border-bottom: 1px solid #eee;
}

.recipe {
    border-radius:5px;
    padding-top:3px;
    border:none;
    text-decoration:none;
    text-decoration-color: black;
    height: 41px;
    width: 130px;
    background-color: white; 
    color:white;
    transition: all 0.5s;
    border: 2px solid #04AA6D;
}

  
  .recipe:hover {
    background-color: #04AA6D;
    color: white;
  }


.buttonInlet{
    color:black;
}

.image-otd {
    object-fit: cover;
    height: 25vh;
    width: 100%;
    border-radius: 10px;
}

.recept {
    margin-left: 170px;
    margin-right: 170px;
    font-family: raleway;
}

.icon {
    width: 15px;
    padding-right: 5px;
}

.ad-container {
    padding-right: 20px;
}

.ad {
    display: ruby;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.1);
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.line {
    background-color: rgb(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-bottom: 10px;
    height: 2px;
}

.amount::-webkit-inner-spin-button {
    appearance: none;
}

.amount {
    width: 120px;
    margin-right: -8px;
    padding-top: 11.5px;
    padding-bottom: 8.5px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.portion {
    display: flex;
    gap: 12px;
    align-items: center;
}

.alert {
    color: rgba(255, 0, 0, 0.714);
    padding-bottom: 10px;
}


.bg-grey {
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 35px;
}

.bg-white {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 35px;
}

.creator-header {
    margin-top: 40px;
}

.creator {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 120px;
}

.creator-image {
    width: 100px;
    border-radius: 50px;
}



/* Smart Phone Media*/
@media screen and (max-width: 480px){

    .portion {
        display: flex;
        flex-direction:column;
        gap: 12px;
        align-items: center;
    }
}
