@media screen and (max-width: 900px) {
    datenschutzArea {
        font-size: 16px;
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    datenschutzArea {
        font-size: 14px;
        padding: 15px;
    }

    h2, h3, h4, h5 {
        font-size: 90%;
    }

    ul {
        padding-left: 15px;
    }
}
