.html{
    scroll-behavior: smooth;
}

.franzbody{
    padding-right:164px;
    padding-left: 164px;
    font-family:'Raleway';
}

.section1 {
    color: #F2F2F2;
    border-bottom-style: solid;
    padding: 10px;
    background-color: white;
    padding-left: 150px;
    box-shadow: 1px 5px 5px -4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.smartLinks {
    font-family:'Raleway';
    font-size:24px;
    font-weight:bold;
    margin:10px;
    text-decoration: none;
    color:black;
}

.hat{
    display:flex;
}
.franzcrs{
    font-size:24px;
    font-weight:bold;
    text-decoration:underline;
}

.time {
    display:flex;
}

.zubereitungszeit{
    background-color:#F2F2F2;
    border-radius: 12px 17px 16px;
    padding-right: 16px;
    width: 164px;
}

.difficult {
    background-color:#F2F2F2;
    border-radius: 12px 17px 16px;
    padding-right: 16px;

}

.release{
    background-color:#F2F2F2;
    border-radius: 12px 17px 16px;
    padding-right: 16px;

}

.Personenanzahl{
    width: 164px;
}

.rztpCrs{
    height:164px;
    width: 100%; 
    object-fit:cover;

}

.tableHead {
    border-collapse: collapse ; 
    width: 100%;
    box-shadow: #888888;
}

.table {
    display:flex;
    flex-direction: column;
    width:100%; 
    border-collapse: collapse;
}

th, td {
    border: 1px none black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.footer-logo{
    position: absolute;
    padding-right: 650px;
}

.footer-image{
    height:64px;

}

.footer-right-side{
    border-bottom: 1px solid;
    box-shadow: 0px 20px 10px #888888;
    background-color:black;
    height:150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socialMedia{
    height:32px;
    padding:16px;
}

.socialMedia:hover{
    text-shadow:#888888;
}
